@import "utils";
@import "fonts";
@import "typography";

@mixin onTablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin onMobile {
  @media (max-width: 320px) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

.page,
li,
ul,
button,
a,
p,
h1,
h2,
h4,
h3 {
  padding: 0;
  margin: 0;
}

input,
textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

.body {
  background: #f7f7f7;
  width: 1194px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  color: #333;

  @include onTablet {
    width: 700px;
  }
}

.header {
  margin-top: 35px;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1194px;

    @include onTablet() {
      width: 700px;
      margin: 0 auto;
    }

    @include onMobile() {
      width: 260px;
    }

  }

  &__section {
    display: flex;
    align-items: flex-end;
    padding-top: 90px;
    padding-bottom: 171px;

    @include onTablet {
      padding-bottom: 141px;
    }

    @include onMobile() {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-height: 656px;
    }
  }

  &__section-right {
    max-width: 816px;
    // max-height: 464px;
    // overflow: hidden;

    @include onTablet {
      max-width: 429px;
      // height: 317px;
    }

    @include onMobile {
      max-width: 320px;
      max-height: 332px;
      z-index: 0;
    }

  }

  &__section-left {
    max-width: 378px;

    @include onMobile {
      max-width: 260px;
      max-height: 245px;
      z-index: 1;
    }
  }

  &__title {
    font-size: 62px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 78px;
    text-transform: uppercase;

    @include onTablet {
      font-size: 48px;
      line-height: 62px;
    }

    @include onMobile() {
      font-size: 40px;
      line-height: 52px;
      margin-bottom: 20px;
    }
  }

  &__text {
    max-width: 276px;
    font-style: 16px;
    font-weight: 400;
    line-height: 24px;

    @include onMobile() {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.logo {
  max-width: 161px;
}

// .img {
//   width: 100%;
// }

.burger {
  display: none;

  @include onMobile() {
    display: block;
  }
}

.right {
  display: flex;

  @include onMobile() {
    display: none;
  }
}

.list {
  display: flex;
  margin-right: 47px;

  &__item {
    margin: 0 auto;
    margin-right: 37px;
    padding: 16px 0;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__item:last-child {
    margin-right: 0;
  }
}

.button {
  outline: none;
  padding: 16px;
  width: 102px;
  background-color: #333;
  color: white;
  border-style: none;
  font-size: 12px;
}

.button:hover {
  background-color: black;
  transition: background-color 0.3s ease;
}

.disabled {
  background-color: #d0d0d0;
}

// -----------  Main ------------

.menu__list {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;

  @include onTablet {
    display: none;
  }

  &-item {
    margin-right: 74px;
    font-size: 14px;
    font-weight: 400;
    padding: 15px;
    transition: font-weight 0.3ms ease;

    &:hover {
      font-weight: 700;
    }

    &:last-child {
      margin-right: 0;
    }

  }
}

.description {
  display: flex;
  margin-bottom: 170px;

  @include onTablet {
    flex-wrap: wrap;
    margin-bottom: 76px;
    justify-content: center;
  }

  &__item {
    max-width: 276px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;

    @include onTablet {
      margin-bottom: 64px;
    }

    &-img {
      margin-bottom: 34px;
      height: 42px;
    }

    &-title {
      margin-bottom: 52px;
      font-weight: 700;
      font-size: 22px;
      line-height: 28px;
      text-transform: uppercase;
      text-align: center;
    }

    &-2 {
      margin-bottom: 24px;
    }

    &-text {
      color: #7c7c7c;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
    }

    &__item:last-child {
      margin-right: 0;
    }
  }

  &__img {
    max-width: 846px;
    margin: 0 auto;

    @include onMobile() {
      max-width: 296px;
    }

    &-picture {
      width: 100%;
    }
  }
}

.mobile-hide {

  @include onMobile() {
    display: none;

  }

}
// -------   section__aboutus ---------

.section-aboutus {
  padding-top: 170px;
}

.aboutus {
  display: flex;
  justify-content: space-between;

  // @include onTablet {
  //   position: relative;
  // }

  &__img {
    max-width: 582px;
    width: 100%;
    // max-height: 388px;
    object-fit: cover;

    @include onTablet {
      max-width: 374px;
      height: 415px;
      // position: absolute;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 56px;
    color: #333;
    margin-bottom: 30px;
    text-transform: uppercase;

    @include onTablet {
      font-size: 36px;
      line-height: 46px;
    }
  }

  &__text {
    // font-weight: 400;
    // font-size: 16px;
    line-height: 24px;
    color: #7c7c7c;
    margin-bottom: 60px;

    @include onTablet {
      line-height: 24px;
      margin-bottom: 60px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #0db2b3;
    padding-bottom: 5px;

    &::after {
      content: "";
      height: 1px;
      background-color: #0db2b3;
      width: 64.61px;
      display: block;
      margin-top: 5px;
    }

    &:hover::after {
      transition: all 0.3s ease-in-out;
      width: 128px;
    }
  }
}

.aboutus-wrap {
  max-width: 582px;

  @include onTablet {
    max-width: 340px;
    width: 340px;
    // margin-left: 20px;
  }
}

.aboutus-2 {
  margin-bottom: 165px;

  @include onTablet {
    margin-bottom: 137px;
    justify-content: space-between;
  }
}

.img_upper {
  @include onTablet {
    margin-left: -30px;
  }

}

.img_down {
  @include onTablet {
    margin-right: -30px;
  }

}
// ------  testemonials ------

.testemonials {
  background-image: url(../images/Desctop/Vector.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 233px;
  margin-bottom: 170px;
  margin-top: 162px;
  align-items: center;

  @include onTablet {
    margin: 137px 0 140px;
  }

  &__text {
    max-width: 786px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #333;
    margin: 0 auto;
    padding-top: 42px;
    margin-bottom: 30px;
  }

  &__img {
    margin: 0 auto;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }

  &__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #333;
    text-align: center;
    margin-bottom: 5px;
  }

  &__position {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #7c7c7c;
    text-align: center;
  }
}

// ---- features------

.features {
  &__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 70px;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 30px;

    @include onTablet {
      font-size: 30px;
      line-height: 40px;
    }
  }
}

// .container:nth-child(1) {
//   margin-right: 150px;

// }

.wrap {
  margin-bottom: 55px;

  @include onTablet {
    margin-bottom: 50px;
  }
}

.contain {
  display: flex;
  max-width: 762px;
  width: 762px;
  justify-content: space-between;

  &:first-child {
    @include onTablet {
      display: none;
    }
  }

  @include onTablet {
    display:flex;
    flex-direction: column;
    width: 600px;
  }

}

// .wrap{
// }

.container:first-child {
  margin-right: 132px;

  @include onTablet {
    margin-right: 0;
  }
}

.features-box {
  display: flex;
  background-color: #d6ecec;
  padding: 60px 102px 5px;
  position: relative;

  @include onTablet {
    padding: 60px 90px 123px;
  }

  // @include onTablet {
  //   padding: 60px 90px;
  //   height: 555px;
  // }

  &__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #0c797a;

    @include onTablet {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__list {
    @include onTablet {
      width: 270px;
    }

  }

  &__item {
    list-style: inside;
    margin-bottom: 10px;

    @include onTablet {
      font-size: 14px;
      line-height: 21px;

      &:last-child {
        margin-bottom: 55px;

        // @include onTablet {
        //   margin-bottom: 50px;
        // }
      }
    }

    // &:last-child {
    //   margin-bottom: 55px;

    // }
  }

  &__img {
    max-width: 532px;
    width: 100%;
    right: 45px;
    bottom: 0;
    position: absolute;
    // margin-top: 109px;
    border-bottom: 1px solid transparent ;

    @include onTablet {
      width: 435px;
      height: 226px;
      right: 5px;
    }
  }
}

.slider {
  display: none;

  @include onTablet {
    display: block;
    width: 95px;
  }

}

.arrows {
  margin-bottom: 10px;
  display: flex;
}

.pages{
  text-align: center;

  &_number {
    font-size: 11px;
    transition: color 0.3s ease-in-out;

    &:hover {
      font-size: 16px;
      color: #0C797A;
    }
  }

}



.hide {
  @include onTablet {
    display: none;
  }
}

// -------- contact ut

.contact-us {
  padding: 170px 0;

  @include onTablet {
    padding: 140px 0;
  }

  &__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 70px;
    text-transform: uppercase;
    color: #333;
    max-width: 584px;
    width: 584px;

    @include onTablet {
      font-size: 36px;
      line-height: 46px;
      width: 339px;
    }

  }
}

.contact-wrap {
  display: flex;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 581px;
  width: 581px;

  @include onTablet {
    width: 340px;
  }

  &__input {
    // max-width: 581px;
    // width: 581px;
    width: 100%;
    height: 48px;
    padding: 12px 36px ;
    margin-bottom: 19px;
    border: 1px solid #828282;
  }

  &__textarea {
    // max-width: 581px;
    // width: 581px;
    width: 100%;
    height: 128px;
    padding: 16px 36px  ;
    margin-bottom: 30px;
    border: 1px solid #828282;
  }

  &__button {
    width: 123.66px;
    padding: 17px 42px;
    background: #0db2b3;
    // left: 735.06px;
    // top: 4800px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    float: left;
    text-transform: uppercase;
  }
}

// footer ===========
.footer {
  padding-bottom: 30px;
}

.footer__logo {
  display: flex;
  // //margin-bottom: 64px;
  justify-content: center;
  margin: 0 auto 64px;
}

.social {
  display: flex;
  justify-content: center;
  margin-bottom: 63px;

  &__facebook {
    margin-right: 48px;
  }

  &__twitter {
    margin-right: 48px;
  }
}

.rights {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #bdbdbd;
}
